
#homelist h1{
	text-align: center;	
	background-color: #003366;
	color: white;
	padding: 1em;
}
#articles ul{
	text-align: right;
}
#announcements ul{
	text-align: left;	
}
#top img{
}
.carousel-img{
	margin:auto;	
}
.carousel-caption{
	background:radial-gradient(black,rgba(255,0,0,0));
}
