@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Didact+Gothic');
.navbar-nav > li{
	float:none;
}
#icons{
	text-align: center;
}

#icons > i,a{
	/*padding: 1em;*/
	display: inline-block;
}
#icons a{
	padding:3em;
}
#footer_text{
	background-color: #f58025; 
	text-align: center; 
	color: white;
}
body{
	margin:0;	
	height: 100%;
}
#footer{
	margin-bottom:0;
}
.dropdown-menu{
	width: 100%;
	text-align: center;	
}
a{
	color:#003366;	
}
h1,h2,h3,h4{
	font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,'Didact Gothic',sans-serif;
}


/* NAVBAR STYLING */
.navbar-default {
	background-color:#003366;
	/*border-top:3px solid #00aeef;*/
	/*border-bottom:3px solid #00aeef;*/

}
.navbar-default .navbar-nav > li > a {
	    color: white;
}
.navbar-default .navbar-nav > li > a:hover{
		color:#f58025;	
}
.navbar-default .navbar-nav > li > a:focus {
	    color: #f58025;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: yellow;
	background-color: green;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: white;
	background-color: #b49759;
}
/*mobile*/
.navbar-default .navbar-toggle {
    /*border-color: pink;*/
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #003366;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
#footer-left{
	text-align: right;
}
.footer-list{
	list-style-position:inside;
}
@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
		background-color:#00aeef;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: white;
		  background-color: #8bcfba;
    }
	#footer_part > div{
		text-align: center;
	}
	.footer-list{
		text-align: left;
		margin: 0 auto;
		width: 50%;
	}
}
