{% extends 'index.html'%}
{% load static %}
{% block title_tag %}Photo Gallery{% endblock %}
{% block csslink %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css'%}">
{% endblock %}
{% block content %}
	<h1>Gallery</h1>
	{% for year,months in images_grouped.items %}
		<div class = "row text-center row_scroll">
		{% for month, images in months.items %}
			{% if images|length > 0 %}
					<div class = "col-sm-3">
						<h2 style><a href = "{% url 'resources:gallery_specific' year month %}">{{month}}/{{year}} Photos</a></h2>
					</div>
			{% endif %}
		{% endfor %}
		</div>
		<br>
	{% endfor %}
{% endblock %}

