{% extends 'index.html' %}
{%block title_tag %}Divisional Minutes{% endblock %}
{% block content %}
<h1 class = "page_header">Minutes</h1>
<table class = "table table-hover">
	<thead>
		<tr>
			<th>Divisional</th>
			<th>Location</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		{% for minute in minutes_list %}
			<tr>
				<td><a href = "{{minute.notes.url}}">{{minute}}</a></td>
				<td>{{minute.location}}</td>
				<td>{{minute.month}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
