{% extends 'index.html' %}
{% load paginate_template %}
{% load embed_video_tags %}
{% block title_tag %}Videos{% endblock %}
{% block csslink %}
	<style>
		.video{
			margin-top:0.5em;
			margin-bottom:0.5em;	
		}
	</style>
{% endblock %}
{% block content %}
<h1>Videos</h1>
<div style = "margin:auto; width: 90%;">
{% for video in video_list %}
	<div class = "embed-responsive embed-responsive-16by9">
		{% video video.video '100% x 480' %}
	</div>
	<br>
{% endfor %}
</div>
{% show_pages video_list %}
{% endblock %}
