certifi==2017.4.17
chardet==3.0.4
Django==1.11.28
django-bootstrap3==8.2.3
django-ckeditor==5.3.0
django-embed-video==1.1.2
django-js-asset==0.1.1
idna==2.5
inflect==0.2.5
jaraco.itertools==2.1
more-itertools==4.0.1
olefile==0.44
Pillow==4.1.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.1
six==1.10.0
urllib3==1.21.1
wolframalpha==3.0
xmltodict==0.11.0
