{% load staticfiles %}
<!DOCTYPE html>
	<html>
		<head>
			<title>NYDKC D11</title>
			<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
						<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

			<!-- jQuery library -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

			<!-- Latest compiled JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>		
			<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
			<script src="https://use.fontawesome.com/232a2abfd0.js"></script>
			<style>
				#homelist h1{
					text-align: center;	
					background-color: blue;
					color: white;
					padding: 1em;
				}
				#articles ul{
					text-align: right;
				}
				#announcements ul{
					text-align: left;	
				}
				#top img{
				}
			</style>

		</head>
		<body>
			<div class = "container-fluid">
				<div style = "margin-left: auto; margin-right: auto; length: 90%; text-align: center;" id = "top">
					<img src = "{% static 'img/key.png' %}" style = "margin-right: auto; margin-left: auto;" class = "img-responsive">
					<h1>NYDKC Division 11</h1>
				</div>
			</div>	
			<nav class="navbar navbar-default">
				<ul class="nav nav-justified navbar-nav"> 
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">About
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Key Club FAQ's</a></li>
							<li><a href="#">Divisional Board</a></li>
							<li><a href="http://nydkc.org/who-we-are/district-board/meet-your-district-board/">District Board</a></li>
							<li><a href="#">Club Boards</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Divisional Project</a></li>
							<li><a href="#">District Project</a></li>
							<li><a href="#">International Project</a></li>
							<li><a href="#">Charities</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Resources
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Videos</a></li>
							<li><a href="#">Gallery</a></li>
							<li><a href="#">Newsletter</a></li>
							<li><a href="#">Divisional Minutes</a></li>
							<li><a href = "#">Articles & Announcements</a></li>
						</ul>
					</li>
					<li class = "dropdown">
						<a class = "dropdown-toggle" data-toggle="dropdown" href="#">Forms<span class = "caret"></span></a>
						<ul class ="dropdown-menu">
							<li><a href="#">Event Sign-Up Sheets</a></li>
							<li><a href="#">Paperwork</a></li>
							<li><a href="#">Tutorials</a></li>
						</ul>
					</li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</nav>
			{% block content %}
			{% endblock %}
						<div class = "jumbotron" id = "footer">
				<div id = "icons">
					<a href = "https://www.instagram.com/nydkcdivision11/" target = "_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
					<a href = "https://www.facebook.com/nydkcdivision11/" target = "_blank"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
					<a href = "#modal" data-toggle="modal"><i class="fa fa-snapchat-square fa-4x" aria-hidden="true"></i></a>
					<div id = "modal" class = "modal fade" role = "dialog">
						<div class = "modal-dialog">
							<div class = "modal-content">
								<div class = "modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h2>Add us on Snapchat!</h2>
								</div>
								<div class = "modal-body">
									<img src = "{% static 'img/snapchat.png' %}">
								</div>

							</div>
						</div>
					</div>
					<a href = "https://twitter.com/nydkcdivision11?lang=en" target = "_blank"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
					<a href = "https://issuu.com/ericzhao13" target = "_blank"><i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i></a>
					<a href = "https://www.youtube.com/user/NYDKCDivision11" target = "_blank"><i class="fa fa-youtube-play fa-4x" aria-hidden="true"></i></a>
				</div>
				<div id = "footer_text">
					<p>Please join our <a href = "https://www.facebook.com/groups/nydkc11/" target="_blank">Facebook Group!</a></p>
					<p>(C) 2017 New York District Key Club Division 11</p>
				</div>
			</div>
		</body>
	</html>
