@media screen and (min-width:768px){
	.white{
		color:white !important;	
	}
	#cover{
		background: linear-gradient(to bottom right, #003366, #f58025);
		height:100vh;
		text-align:center;
		padding: 5% 0;
		margin-bottom:0;
	}		
	#cover > .container{
		padding: 10% 0;	
	}
	small{
		color:white !important;		
	}
	.parallax{
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;		
	}	
	.padding{
		background-color:#00aeef;
		padding:1em;	
	}
	.kc_blue{
		background-color:#003366;
	}
	.jumbotron{
		margin-bottom:0;	
	}
	#header_1{
		background: url("../img/header_1.JPG");	
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: fixed;
	}
	.kc_green{
		background-color:#729849;
	}
	.kc_gold{
		background-color:#b49759;	
	}
	.kc_red{
		background-color:#c41230;	
	}
	.kc_orange{
		background-color: #f58025;	
	}
	.child{
		padding: 10% 0;	
	}
} 
