@media screen and (min-width:768px){
	#header{
		height:100vh;		
		padding: 5% 0;
		background-size:cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position:center;
	}	
	#header > .container{
		text-align: center;	
		padding: 10% 0;
		color: white;
	}
	.section{
		background-color: green;
	}
	.jumbotron{
		margin:0;	
	}
	.center-align{
		vertical-align: middle;	
	}
}

