{% extends 'index.html' %}
{% block title %}<title>Events | NYDKC Division 11</title>{% endblock %}
{% block content %}
<h1>Event Sign-Up Forms</h1>
<table class = "table">
	<thead>
		<tr>
			<th>Event</th>
			<th>School</th>
			<th>Type of Event</th>
		</tr>
	</thead>
	<tbody>
		{% for event in link_list %}
			<tr>
				<td><a href = "{{ event.url }}" target = "_blank">{{ event.name }}</a></td>
				<td>{{ event.host }}</td>
				{% if event.event_choices == 'DIV' %}
					<td style = "background-color: #FCCC0A;">Division Event</td>
				{% elif event.event_choices == 'FUND' %}
					<td style = "background-color:#0039A6; color:white;">Fundraiser</td>
				{% elif event.event_choices == 'CLUB' %}
					<td style = "background-color:#00933C; color: white;">Club Event</td>
				{% elif event.event_choices == 'KWNS' %}
					<td style = "background-color:#B933AD; color:white;">Kiwannis Event</td>
				{% endif %}
				
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
