{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}<title>Announcement | NYDKC Division 11</title>{% endblock %}
{% block csslink %}
<link rel = "stylesheet"  type = "text/css" href = "{% static 'css/jquery.bsPhotoGallery.css' %}">
{% endblock %}
{% block jslink %}<script src = "{% static 'js/jquery.bsPhotoGallery.js' %}"></script>{% endblock %}
{% block content %}
<h1>{{post}}</h1>
<h2>{{post.author}}</h2>
<h2>{{post.pub_date}}</h2>
<p>{{post.body2|linebreaks}}</p>
{% block utube %}
{% endblock %}
{% endblock %}
{% block javascript %}
<script>
$('ul.first').bsPhotoGallery({
    "classes" : "col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12",
    "hasModal" : true
  });
</script>
{% endblock %}
