{% extends 'index.html' %}
{% load staticfiles %}
{% load embed_video_tags %}
{% block title_tag %}{{post}}{% endblock %}
{% block description %}
<meta name = "description" content = "{{post.blurb}} | New York District Key Club Division 11">
{% endblock %}
{% block csslink %}
<link rel = "stylesheet"  type = "text/css" href = "{% static 'css/jquery.bsPhotoGallery.css' %}">
	
{% endblock %}
{% block jslink %}<script src = "{% static 'js/jquery.bsPhotoGallery.js' %}"></script>{% endblock %}
{% block content %}
<img src = "{% static 'img/scribble.png' %}" class = "img img-responsive" style = "margin-bottom:1em;">
{% comment %}NOTE: can't use template inheritance here: otherwise 'posts' in the master announcements page will be undefined{% endcomment %}
<a role = "button" class = "btn btn-info" href = "{% url 'blog:index' %}">&laquo; Back to Announcements</a>
{% if post.posts.exists %}
	<div style = "margin-top:.5em;">
	{% for long_event in post.posts.all %}
	<a role = "button" class = "btn btn-default" href = "{% url 'events:event_detail' long_event.id long_event.slug %}">&laquo; Event: {{long_event.name}}</a>
	{% endfor %}
	</div>
{% endif %}
<h1>{{post}}</h1>
<h2>{{post.author}}</h2>
<h2>{{post.pub_date_2}}</h2>
<div style = "font-family:'Anime Ace';">{{post.body2|linebreaks}}</div>
{% if post.video_set.all.exists or post.video_posts.exists %}
			<h3>Videos</h3>
{% endif %}
{% for video in post.video_set.all %}
	<div class = "embed-responsive embed-responsive-16by9">
	{% video video.video '100%x480' %}
	</div>
	<br>
{% endfor %}
{% for video in post.video_posts.all %}
	<div class = "embed-responsive embed-responsive-16by9">
	{% video video.video '100%x480' %}
	</div><br>
{% endfor %}
{% if post.link_set.all.exists  or post.newsletter_set.all.exists  or post.minutes_set.all.exists or post.links.all.exists %}
	<h3>Links</h3>
{% endif %}
<ul>
	{% for link in post.link_set.all %}
		<li><a href = "{{link.url}}" target = "_blank">{{link.name}}</a></li>
	{% endfor %}
	{% if post.newsletter_set.all.exists %}
		{% for newsletter in post.newsletter_set.all %}
			<li><a href = "{{newsletter.url}}" target = "_blank">{{newsletter.month}} Newsletter</a></li>
		{% endfor %}
	{% endif %}
	{% if post.minutes_set.all.exists %}
		{% for minute in post.minutes_set.all %}
			<li><a href = "{{minute.notes.url}}" target = "_blank">{{minute}}</a></li>
		{% endfor %}
	{% endif %}
	{% if post.links.all.exists %}
		{% for link in post.links.all %}
			<li><a href = "{{link.url}}" target = "_blank">{{link.name}}</a></li>
		{% endfor %}
	{% endif %}
</ul>
{% if post.image_set.all.exists or post.image_posts.exists %}<h3>Images</h3>{% endif %}
<ul class = "first">
	{% for image in image_list %}
		<li style = "margin-top:0.5em; margin-bottom:0.5em;">
			<img src = "{{image.image.url}}" alt = "{{image.title}}">
			<p class = "text">{{image.desc}}</p>
		</li>
	{% endfor %}
	{% for image in post.image_posts.all %}
		<li style = "margin-top:0.5em; margin-bottom:0.5em;">
			<img src = "{{image.image.url}}" alt = "{{image.title}}">
			<p class = "text">{{image.desc}}</p>
		</li>
	{% endfor %}
</ul>
<img src = "{% static 'img/scribble.png' %}" class = "img img-responsive">
{% endblock %}
{% block javascript %}
<script>
$('ul.first').bsPhotoGallery({
    "classes" : "col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12",
    "hasModal" : true
  });
</script>
{% endblock %}
