{% extends 'blog/detail.html' %}
{% load embed_video_tags %}
{% block utube %}
{% if post.video_set.all.exists %}
			<h3>Videos</h3>
{% endif %}
{% for video in post.video_set.all %}
	{% video video.video '800x600' %}
{% endfor %}
{% if post.link_set.all.exists %}
	<h3>Links</h3>
{% endif %}
<ul>
{% for link in post.link_set.all %}
	<li><a href = "{{link.url}}">{{link.name}}</a></li>
{% endfor %}
</ul>
{% if post.image_set.all.exists %}<h3>Images</h3>{% endif %}
<ul class = "first">
	{% for image in image_list %}
		<li>
			<img src = "{{image.image.url}}" alt = "{{post.title}}">
		</li>
	{% endfor %}
</ul>
{% endblock %}

