{% extends 'index.html' %}
{% load staticfiles %}
{% load embed_video_tags  %}
{% block title %}<title>Announcements</title>{% endblock %}
{% block content %}
<div class = "page-header"><h1>Announcement List</h1></div>
{% if latest_post_list %}
	{% for post in latest_post_list %}
		<a href = "{% url 'blog:detail' post.id %}"><h1>{{post.title}}</h1></a>  <!-- blog:detail tags  funcion specifically to this app  -->
		<h2>{{post.author}}</h2>
		<h2>{{post.pub_date}}</h2>
		<p>{{post.body}}</p>
		{% if post.video_set.all.exists %}
			<h3>Videos</h3>
		{% endif %}
		{% for video in post.video_set.all %}
			{%video video.video '800x600' %}
		{% endfor %}
		{% if post.link_set.all.exists %}
			<h3>Links</h3>
		{% endif %}
		<ul>
		{% for link in post.link_set.all %}
			<li><a href = "{{link.url}}">{{link.name}}</a></li>
		{% endfor %}
		</ul>
		<br/>
		<img src = "{% static 'img/scribble.png'%}" class = "img-responsive">
	{% endfor %}
{% else %}
	<p>no recent posts made</p>
{% endif %}
{% endblock %}
