{% extends 'index.html' %}
{% load staticfiles %}
{% load embed_video_tags  %}
{% block title %}<title>Announcements</title>{% endblock %}
{% block content %}
<div class = "page-header"><h1>Announcement List</h1></div>
{% if posts %}
	{% for post in posts %}
		<a href = "{% url 'blog:detail' post.id %}"><h1>{{post.title}}</h1></a>  <!-- blog:detail tags  funcion specifically to this app  -->
		<h2>{{post.author}}</h2>
		<h2>{{post.pub_date}}</h2>
		<p>{{post.body2|linebreaks}}</p>
		{% if post.video_set.all.exists %}
			<h3>Videos</h3>
		{% endif %}
		{% for video in post.video_set.all %}
			{%video video.video '800x600' %}
		{% endfor %}
		{% if post.link_set.all.exists %}
			<h3>Links</h3>
		{% endif %}
		<ul>
		{% for link in post.link_set.all %}
			<li><a href = "{{link.url}}">{{link.name}}</a></li>
		{% endfor %}
		</ul>
		<br/>
		<img src = "{% static 'img/scribble.png'%}" class = "img-responsive">
	{% endfor %}
{% else %}
	<p>no recent posts made</p>
{% endif %}
{% if posts.has_other_pages %}
<div class = "text-center">
<ul class = "pagination">
	{% if posts.has_previous %}
		<li><a href = "?page={{ posts.previous_page_number }}">&laquo;</a></li>
	{% else %}
		<li class = "disabled"><span>&laquo;</span></li>
	{% endif %}
	{% for i in posts.paginator.page_range %}
		{% if posts.number == i %}
			<li class = "active"><span>{{ i }}<span class = "sr-only">(current)</span></span></li>
		{% else %}
			<li><a href = "?page={{ i }}">{{ i }}</a></li>
		{% endif %}
	{% endfor %}
	{% if posts.has_next %}
		<li><a href = "?page={{ posts.next_page_number }}">&raquo;</a></li>
	{% else %}
		<li class = "disabled"><span>&raquo;</span></li>
	{% endif %} 
</ul>
</div>
{% endif %}
{% endblock %}
