{% if latest_post_list %}
	{% for post in latest_post_list %}
		<a href = "{% url 'blog:detail' post.id %}"><h1>{{post.title}}</h1></a>  <!-- blog:detail tags  funcion specifically to this app  -->
		<h2>{{post.author}}</h2>
		<h2>{{post.pub_date}}</h2>
		<p>{{post.body}}</p>
		{% if post.video_set.all.exists %}
			<h3>Videos</h3>
		{% endif %}
		{% for video in post.video_set.all %}
			<a href = "{{video.url}}"><h4>Here is a video</h4></a>
		{% endfor %}
		{% if post.link_set.all.exists %}
			<h3>Links</h3>
		{% endif %}
		{% for link in post.link_set.all %}
			<a href = "{{link.url}}">{{link.name}}</a>
		{% endfor %}
	{% endfor %}
{% else %}
	<p>no recent posts made</p>
{% endif %}
