{% extends 'index.html' %}
{% load staticfiles %}
{% block title_tag %}Articles{% endblock %}
{% load paginate_template %}
{% block content %}
<h1 class = "page_header">Article List</h1>
	{% for article in articles %}
		<a href="{% url 'blog:news' article.id article.slug %}"><h1>{{article.title}}</h1></a>
		<h2>{{article.author}}</h2>
		<h2>Posted in the {{article.date}} Newsletter</h2>
		<p>{{article.blurb}}</p>
		{% comment %}
		<p>{{article.body}}</p>
		{% endcomment %}
		<hr />
	{% endfor %}
{% show_pages articles %}
{% endblock %}
