{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}<title>Articles | NYDKC Division 11</title>{% endblock %}
{% load paginate_template %}
{% block content %}
<div class = "page-header"><h1>Article List</h1></div>
	{% for article in articles %}
		<a href="{% url 'blog:news' article.id article.slug %}"><h1>{{article.title}}</h1></a>
		<h2>{{article.author}}</h2>
		<h2>Posted in the {{article.date}} Newsletter</h2>
		<p>{{article.blurb}}</p>
		{% comment %}
		<p>{{article.body}}</p>
		{% endcomment %}
		<img src = "{% static 'img/scribble2.png' %}" class = "img-responsive">
	{% endfor %}
{% show_pages articles %}
{% endblock %}
