{% extends 'index.html' %}
{% load staticfiles %}
{% load embed_video_tags %}
{% block csslink %}
<link rel = "stylesheet"  type = "text/css" href = "{% static 'css/jquery.bsPhotoGallery.css' %}">
{% endblock %}
{% block jslink %}<script src = "{% static 'js/jquery.bsPhotoGallery.js' %}"></script>{% endblock %}
{% block description %}
	<meta name = "description" content = "Event Page for {{event.name}}. Sign up and get information on the event! | New York District Key Club Division 11">
{% endblock %}
{% block title %}<title>{{event.name}} | NYDKC Division 11</title>{% endblock %}
{% block content %}
<a href = "{% url 'events:event_list' %}" class = "btn btn-primary" role = "button">&laquo; Back to Events Roster</a>
<h1><a href = "{{event.url}}" target = "_blank">{{event.name}}</a></h1>
{% if event.posts.exists %}
	<h2>The following posts were made for this event</h2>
	{% for post in event.posts.all %}
		<h3><a href = "{% url 'blog:detail' post.id post.slug %}">{{post.title}}</a></h3>
	{% endfor %}
	{% if links|length > 0 or images|length > 0 %}
		<h2>Resources</h2>
		{% if links|length > 0 %}
			<h3>Signup Sheets</h3>
			<ul>
			{% for link in links %}
				<li><a href = "{{link.url}}" target = "_blank">{{link.name}}</a></li>	
			{% endfor %}
			</ul>
		{% endif %}
		{% if videos|length > 0 %}
			<div>
			<h3>Videos</h3>
			{% for video in videos %}
				{%video video.video '100%x480' %}	
			{% endfor %}
			</div>
		{% endif %}

		{% if images|length > 0 %}
			<div>
			<h3>Images</h3>
			<ul class = "first">
				{% for image in images %}
					<li style = "margin-top:0.5em; margin-bottom:0.5em;">
						<img src = "{{image.image.url}}" alt = "{{image.post.title}}">
					</li>
				{% endfor %}
			</ul>
			</div>
		{% endif %}
	{% endif %}
{% endif %}
{% endblock %}
{% block javascript %}
<script>
$('ul.first').bsPhotoGallery({
    "classes" : "col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12",
    "hasModal" : true
  });
</script>
{% endblock %}
