{% extends 'index.html' %}
{% load staticfiles %}
{% load embed_video_tags %}
{% block title_tag %}{{convention}}{% endblock %}
{% block csslink %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/long_event.css' %}">
	<style>
		@media screen and (min-width:768px){
			#header{
				background-image: url('{{convention.background_image.url}}');
			}
		}
		@media screen and (max-width:768px){
			#header{
				background-color:{{mobile_color}};	
			}		
		}
		
	</style>
{% endblock %}
{% block header%}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">&laquo; Back to NYDKC Division 11</a>
    </div>
    <ul class="nav navbar-nav">
  	</ul>
  </div>
</nav>

{% endblock %}
{% block empty_content %}
<div class = "jumbotron" id = "header">
	<div class = "container">
		<h2>Welcome to the </h2>
		<b><h1>{{convention}}</h1></b>
	</div>
</div>
<div class = "jumbotron section" style = "background-color:{{color_2}}">
	<div class = "container">
		<div class = "row">
			<div class = "col-sm-6">
				<h1>What is the {{convention}}?</h1>
			</div>
			<div class = "col-sm-6">
				<div class = "embed-responsive embed-responsive-16by9">
					{%video convention.video '680x480' %}
				</div>
			</div>
		</div>
		{{convention.def_short|safe}}
	</div>
</div> 
{% for section, color in colors %}
<div class = "jumbotron section" style = "background-color: {{ color }}">
	<div class = "container">
		<div class = "row">
		{% if forloop.counter0|divisibleby:2 %}
			<div class = "col-sm-6">
				<h2>{{section}}</h2>
				{{section.body|safe}}	
			</div>
			<div class = "col-sm-6">
				<img src = "{{section.image.url}}" class = "img img-responsive">
			</div>
		{% else %}
			<div class = "col-sm-6">
				<img src = "{{section.image.url}}" class = "img img-responsive">
			</div>
			<div class = "col-sm-6">
				<h2>{{section}}</h2>
				{{section.body|safe}}	
			</div>
		{% endif %}
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
{% block content %}
<div class = "end">
	<h1>Interested in Signing Up?</h1>
	<h2>Visit next year for more information, or consult your school</h2>
	<i class="fa fa-key fa-5x" aria-hidden="true"></i>
</div>
{% endblock %}
