{% extends 'index.html' %}
{% load tz %}
{% block title %}<title>Service Events | New York District Key Club Division 11</title>{% endblock %}
{% block content %}
<div class = "page-header">
	<h1>Divisional Service Events</h1>
</div>
{% for event in posts %}
	<a href = "{% url 'events:service_detail' event.id event.slug %}"><h1>{{event.title}}</h1></a>
	<h2>School: {{event.school}}</h2>
	<h2>Location: {{event.location}}</h2>
	{% timezone "US/East-Indiana" %}
	{% if event.all_day %}
		<h2>{{event.start_time|date}}</h2>
	{% else %}
		<h2>{{event.start_time}} - {{event.end_time}}</h2>
	{% endif %}
	{{event.description|safe}}
	{% endtimezone %}
	<hr />
{% endfor %}
{% if posts.has_other_pages %}
<div class = "text-center">
<ul class = "pagination">
	{% if posts.has_previous %}
		<li><a href = "?page={{ posts.previous_page_number }}">&laquo;</a></li>
	{% else %}
		<li class = "disabled"><span>&laquo;</span></li>
	{% endif %}
	{% for i in posts.paginator.page_range %}
		{% if posts.number == i %}
			<li class = "active"><span>{{ i }}<span class = "sr-only">(current)</span></span></li>
		{% else %}
			<li><a href = "?page={{ i }}">{{ i }}</a></li>
		{% endif %}
	{% endfor %}
	{% if posts.has_next %}
		<li><a href = "?page={{ posts.next_page_number }}">&raquo;</a></li>
	{% else %}
		<li class = "disabled"><span>&raquo;</span></li>
	{% endif %} 
</ul>
</div>
{% endif %}

{% endblock %}
