{% extends 'index.html' %}
{% load paginate_template %}
{% load tz %}
{% block title_tag %}Service Events{% endblock %}
{% block content %}
<h1 class = "page_header">Divisional Service Events</h1>
{% for event in posts %}
	<a href = "{% url 'events:service_detail' event.id event.slug %}"><h1>{{event.title}}</h1></a>
	<h2>School: {{event.school}}</h2>
	<h2>Location: {{event.location}}</h2>
	{% if event.all_day is not True %}
		{% timezone "US/East-Indiana" %}
			<h2>{{event.start_time}} - {{event.end_time}}</h2>
		{% endtimezone %}
	{% else %}
		<h2>{{event.start_time|date}}</h2>
	{% endif %}
	{{event.description|safe}}
	<hr />
{% endfor %}
{% show_pages posts post_range %}
{% endblock %}
