{% extends 'index.html' %}
{% block title %}<title>Divisional Board Members | NYDKC Division 11</title>{% endblock %}
{% block content %}
	<h1>Divisional Board Members</h1>
	{% for member in member_list %}
		{% if forloop.counter0|divisibleby:2 %}
			<div class = "row">
		{% endif %}
				<div class = "col-md-6">
					<div class = "panel panel-default">
						<div class = "panel panel-heading">{{member.position}}</div>
						<div class = "panel panel-body">
							<img src = "{{member.image.url}}" class = "img-responsive">
							<h2>{{member.name}}</h2>
							<h3>{{member.school}}</h3>
							<h4><a href = "mailto:{{member.email}}">{{member.email}}</a></h4>
							<p>{{member.desc}}</p>
						</div>
					</div>
				</div>
		{% if forloop.counter0|divisibleby:2 is False %}
			</div>
		{% endif %}
	{% endfor %}
	{% if member_list|length|divisibleby:2 is False %}</div>{% endif %}
	{% comment %}
	{% for member in member_list%}
		{% if forloop.counter0|divisibleby:"2" %}
			<div class = "row">
				<div class = "col-md-6">
					<div class = "panel panel-default">
						<div class = "panel panel-heading">{{member.position}}</div>
						<div class = "panel panel-body">
							<img src = "{{member.image.url}}" class = "img-responsive">
							<h2>{{member.name}}</h2>
							<h3>{{member.school}}</h3>
							<h4><a href = "mailto:{{member.email}}">{{member.email}}</a></h4>
							<p>{{member.desc}}</p>
						</div>
					</div>
				</div>
		{% else %}
				<div class = "col-md-6">
					<div class = "panel panel-default">
						<div class = "panel panel-heading">{{member.position}}</div>
						<div class = "panel panel-body">
							<img src = "{{member.image.url}}" class = "img-responsive">
							<h2>{{member.name}}</h2>
							<h3>{{member.school}}</h3>
							<h4><a href = "mailto:{{member.email}}">{{member.email}}</a></h4>
							<p>{{member.desc}}</p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	{% endcomment %}
{% endblock %}
