{% extends 'index.html' %}
{% load embed_video_tags %}
{% load staticfiles %}
{% block title_tag %}{{project.name}}: {{project.key_level}}{% endblock %}
{% block description %}
	<meta name = "description" content = "Introducing the District {{project.key_level}}: {{project.name}}! | New York District Key Club Division 11">
{% endblock %}
{% block csslink %}
<link rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}">
<style>
	@media screen and (min-width:768px){
		#top{
			background-image:url("{{project.bkgnd_photo.url}}");	
		}	
		#top > .jumbotron{
			background:{{cover_color}};	
		}
	} 	
	.goal_detail1{
		background-color:{{box_1}};	
	}
	.goal_detail2{
		color: {{box_2}};
		border: 1px solid {{box_2}}; 
	}
	.goal_detail3{
		background-color:{{box_3}};	
	}
</style>
{% endblock %}
{% block header %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">&laquo; Back to NYDKC Division 11</a>
    </div>
    <ul class="nav navbar-nav">
  	</ul>
  </div>
</nav>
{% endblock %}
{% block empty_content %}
<div class = "container-fluid" id = "top">
	<div class = "jumbotron">
		<h1>Introducing the new {{project.key_level}}<h1>
		<img src = "{{project.logo.url}}">
	</div>
</div>
{% endblock %}
{% block content %}
	<br>
	<div class = "row">
		<div class = "col-sm-6" id = "def_short">
			<h1>What is {{project.name}}?</h1>
			<p>{{project.def_short2|safe}}</p>
		</div>
		<div class = "col-sm-6">
			<div class = "embed-responsive embed-responsive-16by9">
				{% video project.video '480x100%' %}
			</div>
		</div>
	</div>
	<div id = "extend_desc">
		{{project.extend_desc2|safe}}
	</div>
	<div id = "goals">
		<h2>NYDKC's Goal For this Project</h2>
		<div class = "row">
			<div class = "col-sm-5 col-centered">
				<div class = "jumbotron goal_detail3">
					<h2>Raise</h2>
					<h1><b>${{project.fundrs_goal}}</b></h1>
				</div>
			</div>
		</div>
		<h2>NYDKC's Project Goals this year</h2>
		<div class = "row">
			<div class = "col-sm-6">
				<div class = "jumbotron goal_detail1">
					<h2>Raise</h2>
					<h1><b>$150000</b></h1>
				</div>
			</div>
			<div class = "col-sm-6">
				<div class = "jumbotron goal_detail2">
					<h2>Serve</h2>
					<h1><b>110000 Hours</b></h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

